<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YesAnd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8549D9191D43DE1700525360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8549D92D1D43DE1700525360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8549D9381D43DE1700525360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
